.result-list {
  width: 175px;
  list-style: none;
  position: absolute;
  padding: 0px;
  right: 72px;
  top: 41px;
  background: #fff;
}
.result-list li {
  padding: 20px;
}

.result-list li:hover {
  background: #cecaff8c;
}
